---

---

<section class="relative h-[calc(100dvh-64px)] bg-cover bg-no-repeat min-h-[350px]" style={{backgroundPosition:"50% 50%",backgroundImage: `url(https://gbtcborn.com/assets/images/p01-1.webp)`}}>
  <div class="text-white gap-8 flex-col absolute top-0 left-0 w-full h-full z-10 bg-[#0808086f] flex justify-center items-center">
    <h1 class="text-5xl lg:text-6xl font-bold text-center max-w-3xl mx-auto">Tu lugar de confianza para aprender y gestionar tus criptomonedas</h1>
    <button class="px-8 py-3 rounded-md text-base bg-[var(--primary-color)] text-white font-semibold hover:bg-[var(--hover-primary-color)]">Más información</button>

  </div>
</section>