<div class="flex justify-center items-center py-8" style={{backgroundPosition:"50% 50%",backgroundImage: `url(https://gbtcborn.com/assets/images/p02-1.webp)`}}>
  <img src="https://gbtcborn.com/assets/images/logo.webp" alt="Logo de GBTC" />
</div>