---
import InstagramIcon from '../../assets/icons/MdiInstagram.astro';
import TwitterIcon from '../../assets/icons/MdiTwitter.astro';
import HamburgerIcon from '../../assets/icons/IconamoonMenuBurgerHorizontalBold';
import ChangeLanguage from '../customs/changeLanguage.jsx';

const currentPath = Astro.url.pathname
var texts = {
  en: {
    button: "Contact Us",
  },
  es: {
    button: "Visítanos!",
  },
  fr: {
    button: "VISITEZ NOUS",
  },
}
---


<nav class="max-w-7xl mx-auto shadow sticky top-0 z-50 flex justify-between items-center w-full h-16 py-2 px-5 lg:px-14 bg-white">
  <div class="h-full flex items-center">
    <img class="h-full" src="https://gbtcborn.com/assets/images/logo.webp" alt="Logo de GBTC" />
  </div>
  <div class="hidden lg:flex items-center gap-6">
    <a target="_blank" href="https://twitter.com/GbtcBorn" class="text-3xl flex items-center justify-center hover:opacity-50">
      <TwitterIcon />
    </a>
    <a target="_blank" href="https://www.instagram.com/gbtc_born/" class="text-3xl flex items-center justify-center hover:opacity-50">
      <InstagramIcon />
    </a>
    <div class="relative">
      <ChangeLanguage actualLanguage={currentPath.split('/')[1]} client:load/>
    </div>
    <button class="px-6 py-2 rounded-md text-base bg-[var(--primary-color)] text-white font-semibold hover:bg-[var(--hover-primary-color)]">
      {texts[currentPath.split('/')[1]].button}
    </button>
  </div>
  <div class="lg:hidden">
    <HamburgerIcon client:load>
      <a target="_blank" href="https://twitter.com/GbtcBorn" class="text-3xl flex items-center justify-center hover:opacity-50">
        <TwitterIcon />
      </a>
      <a target="_blank" href="https://www.instagram.com/gbtc_born/" class="text-3xl flex items-center justify-center hover:opacity-50">
        <InstagramIcon />
      </a>
      <div class="relative">
        <ChangeLanguage actualLanguage={currentPath.split('/')[1]} client:load/>
      </div>
      <button class="px-6 py-2 rounded-md text-base bg-[var(--primary-color)] text-white font-semibold hover:bg-[var(--hover-primary-color)]">
        {texts[currentPath.split('/')[1]].button}
      </button>
    </HamburgerIcon>
  </div>
</nav>
